# ignore workspace specific stuff and just sync files
.metadata
RemoteSystemsTempFiles

# child directory project files
.settings
Debug
Release
html
latex
battleships

# child directory files
.cproject
.project
